* {
    font-family: 'Press Start 2P', cursive;
}


$background: #000000;


.gameContainer {
    background-color: grey;
}


.titleScreen {
    background-color: $background;
    color: #e71010;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
 //  visibility: hidden;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#modal {
    margin-top: 40vh;
   // visibility: hidden;
}

p {
    font-size: 1em;
 
}

/* GLOBAL STYLES */

  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


#startscreen {
    margin-top: 200px;
}

#choosePlacement {
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    min-height: 80vh;
    
}

.cell {
  font-size: 2.2em;
  
}

.seaMap {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}